.confirm{
    margin-top: 50px;
    margin-bottom:  100px;

    .btn-secondary {
        margin-top: 20px;
      }
      
      .btn-secondary:hover {
        color: #fff;
        background-color: #4408e7;
        border-color:  #4408e7;
      }

      h2{
        margin-top: 20px;
        margin-bottom: 50px;
      }

      
   

}